.edina_tm_about .main {
    background-image: url('/img/about/2.jpg');
  }
  
  .edina_tm_about .experience {
    animation: fadeUp 1.2s ease-in-out 0.3s;
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  